.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 15px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #ffffff;
}
/* Color/shape of close button cross */
.bm-cross {
    background: #ffffff;
}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 70%;
    background: #373a47;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
