.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 15px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #ffffff;
}
/* Color/shape of close button cross */
.bm-cross {
    background: #ffffff;
}
/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
